body {
  background-image: url(..//assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin: 90px;
  color: aliceblue;
}


 main{
  font-size:large;
}

header{

  margin-bottom: 5em;
}


.logo {
  content: url(..//assets/epicode_logo.png);
  position: relative;
  width: 15em;
  height: 58px;
  
}

.title{

font-size: 90px;
margin-bottom: 50px;
}



