body{
    text-align: center;
}
.cards{
   border: 5px solid;
   border-color: rgb(157, 162, 167);
   width: 300px;
  height: 75px;
  margin: 10px auto;
  text-align: center;
  line-height: 70px;
  border-radius: 50px;
  margin: 150px;
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: 10px;
  border-style: outset;
}
footer{
    margin-top: 120px;
}
.button{
    margin-top: 50px;
    font-size: 30px;
    height: 60px;
    width: 100px;
    font-weight: 1000;
    background-color: rgb(157, 162, 167);
    border-radius: 10px;
}
.questions{
    font-size: 50px;
}
h3{
    font-size: xx-large;
}