.title {
  font-size: 100px;
  margin-bottom: 50px;
}

.instructions {
  font-size: 50px;
  color: #d324a1;
  padding-bottom: 0.5em;
}

.paragraph {
  font-size: 25px;
  margin-bottom: 2em;
}

.list {
  font-size: 25px;
  line-height: 1.5em;
}

.input {
  margin-top: 3rem;
  font-size: 25px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  color: black;
  background-color: rgba(0, 0, 0, 0.08);
}

.button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: #09fbff;
  padding: 15px 40px;
  border-radius: 4px;
  text-align: right;
  color: #001941;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(13, 223, 238, 0.4);
}

.btn-container {
  text-align: right;
  margin-right: 3em;
}
