body {
  background-image: url(/assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin: 90px;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

main {
  font-size: 20px;
}

header {
  margin-bottom: 5em;
}

.logo {
  content: url(/assets/images/epicode_logo.png);
  position: relative;
  width: 15em;
  height: 58px;
}

strong {
  font-weight: 700;
}
