main {
  text-align: center;
}

.title {
  font-size: 90px;
}

.description {
  font-size: 40px;
  padding-top: 1em;
}

hr {
  color: red;
  margin-left: 150px;
  margin-right: 150px;
}

#your-feedback {
  background-color: transparent;
  border-bottom: 3px solid #c90fc3;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 1000px;
}

.rating-container {
  margin-top: 2em;
}

.feedback {
  font-size: 40px;
  margin-top: 2em;
  margin-bottom: 2em;
}

#your-feedback::placeholder {
  font-size: 20px;
  font-style: italic;
}
.star {
  display: inline-block;
  margin-top: 4em;
}
.btn {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  width: fit-content;
  padding: 25px 75px;
  margin: auto;
  margin-top: 30px;
  background-color: #00f9fd;
  margin-top: 4em;
  color: rgb(5, 42, 99);
  font-size: x-large;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  box-shadow: 0px 0px 23px 2px rgba(3, 12, 139, 0.6);
}

.bold {

  font-weight: 900;
}

.star {
  display: inline-block;
  cursor: pointer;
}
.filled {
  fill: #ffd700;
}
.empty {
  fill: #00ffff;
}

