body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  align-items: center;
  height: 100vh;
}

#quiz-container {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.hidden {
  display: none;
}
.selected {
  background-color: violet;
}
